@page
@model samuel_leutner_DR4_TP3_dotNet.Pages.IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CityBreaks!</h1>
    <p>This is the Home Page.</p>
    <p>Now that the home page is working, you should see cities listed here.</p>
</div>
